.DS_Store
._*
*.o
o
r
r2
t
lib/librs.a
delivery/*.pem
delivery/SimRadar.*
Sparkle.framework
*.xcuserstate
project.xcworkspace/
xcuserdata/
.ipynb_checkpoints/
*.mp4

# Misc. assets
SimRadar/Photoshop Images
ref/

# Log files
*stdout.txt
*stderr.txt

# Coverage files
*.gcda
*.gcno
*.gcov
coverage/
*.info

# Documentation
docs/
html/
latex/

# Symbolic links
o
simradar-mpi.c

# Programs
test_make_pulse
test_clreduce
tests/test_string_safety
tests/test_pos_parsing
tests/test_rs_tables
tests/test_data_loaders
tests/test_rs_integration
tests/test_data_integration
cldemo
simradar
simradar-mpi
simple_ppi
simple_dbs
lsiq
rsutil

